# Dependencies
node_modules

# Build output
dist
out
*.vsix

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code specific
.vscode-test
.vscode/settings.json
.vscode/tasks.json
.vscode/extensions.json
.vscode/launch.json

build/
